@use "./base" as *;

header {
    width: 100%;
    padding: 0 20px;
    height: 100px;
    box-sizing: border-box;
    background-color: #022e6d;
    color: black;
    @include display-flex(space-between, center, row);

    i {
        font-size: $fontSizeIcon;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2);
            color: #f0f0f0;
        }
    }

    .header__container1 {

        width: 60%;
        @include display-flex(space-between, center, row);
        box-sizing: border-box;

        @include from(tablet) {
            width: 40%;
            @include display-flex(flex-start, center, row);
            gap: 40px;
        }

        i {
            @include from(tablet) {
                display: none;
            }
        }

        img {
            width: 100px;
            height: 100px;
        }

        .heaader__container1__nav {
            display: none;
            box-sizing: border-box;

            @include from(tablet) {
                display: block;
            }
            
            ul {
                @include display-flex(space-between, center, row);
                gap: 20px;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    font-size: 1.2rem;
                    cursor: pointer;

                    a {
                        @extend %bebas-neue-regular;
                        text-decoration: none;
                        color: white;

                        &:hover {
                        color: #f0f0f0;
                        }

                    }
                }
            }
        }
    }

    .header__container2 {
        box-sizing: border-box;
        width: 20%;
        @include display-flex(center, center, row);
        gap: 20px;
    }

}

.menuLateral {
    box-sizing: border-box;
    background-color: #022f6d90;
    width: 300px;
    min-height: 300px;
    margin-top: 20px;
    position: fixed;
    left: -100%;
    z-index: 1000;
    border-radius: 0 10px 10px 0;
    transition: left 0.3s ease;

    .menuLateral__close {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        @include display-flex(flex-end, center, row);

        i {
            font-size: $fontSizeIcon;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
                color: #f0f0f0;
            }
        }
    }

    .menuLateral__container {
        width: 100%;
        box-sizing: border-box;

        ul {
            width: 100%;
            list-style: none;

            a {
                color: white;
                text-decoration: none;
                @extend %bebas-neue-regular;

                li {
                    padding: 10px 20px;
                    font-size: 1.2rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #022f6d76;
                    }
                }
            }

        }
    }

}

.menuLateral.activo {
    left: 0;
}

.containerResBusqueda {
    width: 100%;
    height: 160vh;
    box-sizing: border-box;
    position: absolute;
    top: 300px;
    left: -100%;
    transition: left 0.3s ease;
    z-index: 900;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #022f6d;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #022f6d90;
    }

    &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        border-radius: 10px;
    }


    @include from(tablet) {
        top: 340px;
    }

    @include from(pc) {
        top: 400px;
    }

    .containerResBusqueda__close {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        @include display-flex(flex-end, center, row);

        i {
            font-size: $fontSizeIcon;
            color: #022f6d;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
                color: black;
            }
        }
    }

    .containerResBusqueda__container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        h2 {
            @extend %bebas-neue-regular;
            font-size: $fontSizeTitles;
            color: #022f6d;
            margin-bottom: 20px;
        }

        .containerResBusqueda__container--peliculas {
            width: 100%;
            padding: 10px 0;
            box-sizing: border-box;
            @include display-grid(2);
            gap: 20px;

            @include from(tablet) {
                @include display-grid(3);
            }

            @include from(pc) {
                @include display-grid(4);
            }

            @include from(large-pc) {
                @include display-grid(5);
            }

            .containerResBusqueda__container--tarjetaPelicula {
                box-sizing: border-box;
                // background-color: #f0f0f0;
                border-radius: 10px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 10px;
                }

                h3 {
                    @extend %bebas-neue-regular;
                    font-size: $fontSizeTitles;
                    color: #022f6d;
                    margin-top: 10px;
                    min-height: 40px;
                    text-align: center;
                }

                @extend %circle;
            }
        }
    }
    
}

.containerResBusqueda.activo {
    left: 0;
}

main {
    width: 100%;
    box-sizing: border-box;

    .main__containerBarraBuscadora {
        width: 100%;
        background: url("/IMG/poster_peliculas_background.png") center/cover no-repeat fixed;
        @include display-flex(center, center, row);
        gap: 2px;
        padding: 80px 0;
        box-sizing: border-box;

        @include from(tablet) {
            padding: 100px 0;
        }

        @include from(pc) {
            padding: 130px 0;
        }

        input {
            padding: 10px 5px;
            border-radius: 10px 0 0 10px;
            border: 2px solid #022f6d;
            width: 250px;
            @include from(tablet) {
                width: 400px;
            }
        }

        button {
            padding: 7px 10px;
            border-radius: 0 10px 10px 0;
            border: 2px solid #022f6d;
            background-color: #022f6d;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #f0f0f0;
                color: #022f6d;
            }

            i {
                font-size: 1.2rem;
            }
        }
    }

    .main__containerPeliculas {
        width: 100%;
        margin-top: 30px;
        padding: 0 20px;
        box-sizing: border-box;

        @include from(pc) {
            margin: 0 auto;
            width: 90%;
            margin-top: 30px;
        }

        h2 {
            @extend %bebas-neue-regular;
            font-size: $fontSizeTitles;
            color: #022f6d;
        }

        .main__containerPeliculas--2 {
            width: 100%;
            min-height: 450px;
            box-sizing: border-box;
            overflow-y: hidden;
            overflow-x: auto;
            margin: 0 auto;
            @include display-flex(flex-start, center, row);
            gap: 20px;

            &::-webkit-scrollbar {
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #022f6d;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #022f6d90;
            }

            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
                border-radius: 10px;
            }

            @include from(tablet) {
                height: 500px;
            }

            @include from(pc) {
                height: 600px;
            }

            .main__containerPeliculas--tarjetaPelicula {
                box-sizing: border-box;
                width: 200px;
                height: 400px;
                flex: 0 0 auto;
                border-radius: 10px;
                cursor: pointer;

                @include from(pc) {
                    margin-bottom: 50px;
                }

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 10px;

                    @include from(tablet) {
                        height: 250px;
                    }

                    @include from(pc) {
                        height: 300px;
                    }
                }

                h3 {
                    @extend %bebas-neue-regular;
                    font-size: $fontSizeTitlesSmall;
                    color: #022f6d;
                    min-height: 50px;

                    @include from(pc) {
                        min-height: 70px;
                    }
                }

                p {
                    @extend %roboto-regular;
                    font-size: $fontSizeText;
                    margin: 5px 0 0 0;
                    color: #333;
                }

                @extend %circle;
            }
        }
    }

    .main__containerTrailers {
        background-color: #022f6d90;
        width: 100%;
        padding: 0 20px;
        padding-top: 30px;
        background-size: cover;
        background-position: center;
        transition: background 0.4s ease-in-out;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        .main__containerTrailers--1 {
            width: 100%;
            box-sizing: border-box;

            @include from(pc) {
                width: 90%;
                margin: 0 auto;
            }

            h2 {
            @extend %bebas-neue-regular;
            font-size: $fontSizeTitles;
            color: #022f6d;
            margin-bottom: 20px;
            }

            .main__containerTrailers--2 {
                width: 100%;
                height: 400px;
                box-sizing: border-box;
                overflow-y: hidden;
                overflow-x: auto;
                margin: 0 auto;
                @include display-flex(flex-start, center, row);
                gap: 20px;

                &::-webkit-scrollbar {
                    height: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #022f6d;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: #022f6d90;
                }

                &::-webkit-scrollbar-track {
                    background-color: #f0f0f0;
                    border-radius: 10px;
                }


                .containerTarjetaVideo {
                    box-sizing: border-box;
                    width: 300px;
                    height: 350px;
                    flex: 0 0 auto;

                    iframe {
                        width: 100%;
                        height: 200px;
                        border-radius: 10px;
                        margin-bottom: 10px;
                    }

                    .descripcionTrailer {

                        h3 {
                            @extend %bebas-neue-regular;
                            font-size: $fontSizeTitles;
                            color: #022f6d;
                            margin: 10px 0;
                            text-align: center;
                        }

                        p {
                            color: white;
                            text-align: center;
                        }
                    }
                }

            }

        }

    }

}